.container-sm {
  margin: 0 auto;
  max-width: 48rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.header-page {
  text-align: center;
  padding: var(--space-8);
  color: var(--color-black);
  font-weight: 600;
}

.mb-12 {
  margin-bottom: var(--space-12);
}

.mt-12 {
  margin-top: var(--space-12);
}

.text-lg {
  font-size: var(--text-lg);
}

.px-2 {
  padding: var(--space-2);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}
