.form-group {
  margin-bottom: var(--space-4);
  &__label {
    font-weight: 700;
    text-align: center;
  }
  &__input {
    padding: var(--space-2) var(--space-3);
    border: 1px solid #00b0d7;
    appearance: none;
    line-height: 1.25;
    transition: border-color 150ms ease-in-out;
    &:focus {
      outline: none;
      border: 1px solid $primary-color;
    }
  }
}
